<h2 class="mt-4 mb-5">О нашем интернет магазине</h2>
<div class="container__about">
  <div class="container1 mb-5">
    <h4>Что такое Книжный Клуб </h4>
    <p>
      Книжный Клуб  — бесспорный лидер рынка дистанционных продаж в Украине. Наша компания заботится о том, чтобы ваш досуг был интересным, полезным и разнообразным. Приобретайте наши книги и товары в фирменных магазинах по всей Украине или заказывайте доставку курьером, на почтовое отделение или отделение «Новой Почты». Более 1 000 000 миллиона семей в Украине пользуются выгодами, которые предоставляет Клуб. Если Вы еще не в Клубе — присоединяйтесь!
    </p>

    <h4>Преимущества нашего магазина:</h4>
    <ul>
      <li>Бесплатный каталог с сотнями новинок книжного и медиарынка. Красочный каталог рассылается ежеквартально на почтовый адрес членов Клуба. Представлена и электронная версия каталога;
      </li>
      <li>Клуб предлагает произведения современных авторов, классиков мировой литературы, эксклюзивные издания на любой вкус;
      </li>
      <li>Для членов Клуба экономия при заказе книг и товаров составляет -20%;
      </li>
      <li>Члены Клуба могут пользоваться привилегиями — от -10% до -30% в зависимости от срока пребывания в Клубе;</li>
      <li>Клуб предлагает удобные способы оформления заказов: на сайте, по почте, по телефону, по SMS;
      </li>
    </ul>
  </div>
</div>