<h2>О нашем интернет магазине</h2>
<div class="container__about">
  <div class="container1">
    <h4>Что такое Книжный Клуб </h4>
    <p>
      Книжный Клуб  — бесспорный лидер рынка дистанционных продаж в Украине. Наша компания заботится о том, чтобы ваш досуг был интересным, полезным и разнообразным. Приобретайте наши книги и товары в фирменных магазинах по всей Украине или заказывайте доставку курьером, на почтовое отделение или отделение «Новой Почты». Более 1 000 000 миллиона семей в Украине пользуются выгодами, которые предоставляет Клуб. Если Вы еще не в Клубе — присоединяйтесь!
    </p>

    <h4>Преимущества нашего магазина:</h4>
    <ul>
      <li>Бесплатный каталог с сотнями новинок книжного и медиарынка. Красочный каталог рассылается ежеквартально на почтовый адрес членов Клуба. Представлена и электронная версия каталога;
      </li>
      <li>Клуб предлагает произведения современных авторов, классиков мировой литературы, эксклюзивные издания на любой вкус;
      </li>
      <li>Для членов Клуба экономия при заказе книг и товаров составляет -20%;
      </li>
      <li>Члены Клуба могут пользоваться привилегиями — от -10% до -30% в зависимости от срока пребывания в Клубе;</li>
      <li>Клуб предлагает удобные способы оформления заказов: на сайте, по почте, по телефону, по SMS;
      </li>
    </ul>
  </div>
  <div class="container2">
    <img src="https://bookmix.ru/notes/images/8/0/0/notes_1576048517.jpg" class="image" align="right">
  </div>
</div>
<h4>Успехи компании «Книжный Клуб » подтверждены многочисленными наградами:</h4>
<ul>
  <li>Клубный сайт www.bookclub.ua, был признан лучшим сайтом, предлагающим книжную продукцию (по версии Awards Internet UA) в Украине в 2009—2010 гг;</li>
  <li>Гран-при в номинации «Издательство года» Международного книжного фестиваля «Мир книги» 2006 и 2010 годов;
  </li>
  <li>Премия «Украинский Национальный Олимп» в номинации «Издатель года» по итогам 2009 года
  </li>
</ul>
<h3>Контакты</h3>
<p>
  Многоканальная справочно–информационая служба работает ежедневно с 8:00 до 21:00. </br> При оформлении заказа по телефону называйте номер Вашей клубной карточки.
</p>

<table>
  <tr>
    <td><img src="image/kyiv.png"></td>
    <td>(067) 332–93–93</td>
  </tr>
  <tr>
    <td><img src="image/voda.png"></td>
    <td>(050) 113–93–93</td>
  </tr>
  <tr>
    <td><img src="image/life.png"></td>
    <td>(093) 170–03–93</td>
  </tr>
</table>
<p>Только для звонков! Стоимость звонка согласно тарифам Вашего оператора связи.</p>
<p>Адрес:«Книжный Клуб», а/я 84, </br>Харьков, 61001</br>Тел.: 0 800 301 090 </br>Web: www.bookclub.ua </br>Email: supports@bookclub.ua
</p>
dy>