<div class="container-fluid">
  <div class="container2 mt-5 mb-4">
    <img src="https://bookmix.ru/notes/images/8/0/0/notes_1576048517.jpg" class="image" align="right">
  </div>
<h4 class="mt-5">Успехи компании «Книжный Клуб » подтверждены многочисленными наградами:</h4>
<ul>
  <li>Клубный сайт www.bookclub.ua, был признан лучшим сайтом, предлагающим книжную продукцию (по версии Awards Internet UA) в Украине в 2009—2010 гг;</li>
  <li>Гран-при в номинации «Издательство года» Международного книжного фестиваля «Мир книги» 2006 и 2010 годов;
  </li>
  <li>Премия «Украинский Национальный Олимп» в номинации «Издатель года» по итогам 2009 года
  </li>
</ul>
<h3 class="mt-5">Контакты</h3>
<p>
  Многоканальная справочно–информационая служба работает ежедневно с 8:00 до 21:00. </br> При оформлении заказа по телефону называйте номер Вашей клубной карточки.
</p>
  <div class="row contacts mb-5">
    <div class="col-4">
      <table>
        <tr>
          <td><img src="https://upload.wikimedia.org/wikipedia/commons/6/66/Kyivstar_logo_%28before_2015%29.png"
                   class="phone_icon"></td>
          <td>(067) 332–93–93</td>
        </tr>
        <tr>
          <td><img src="https://lh3.googleusercontent.com/proxy/_MimfhXQAJKvrUI6Ioj-82guuX_AQec1-KmjZtB63a1qWHVpzE0XT_QM-Kf2WdCUAtySwYPyXmkeVUnECexDJ9J_fyV3Ks7KXeCY1QDerCeyJ2Y_bgBG_q0upLHBOUzvRYoiQTWDkkPQoik9mwKJKQ"
                   class="phone_icon"></td>
          <td>(050) 113–93–93</td>
        </tr>
        <tr>
          <td><img src="https://tarifec.com/wp-content/uploads/2017/07/vygodnyj-rouming-v-rosii-3.png"
                   class="phone_icon"></td>
          <td>(093) 170–03–93</td>
        </tr>
      </table>
    </div>
    <div class="col">
      <p>Только для звонков! Стоимость звонка согласно тарифам Вашего оператора связи.</p>
      <p>Адрес:«Книжный Клуб», а/я 84, </br>Харьков, 61001</br>Тел.: 0 800 301 090 </br>Web: www.bookclub.ua </br>
        Email: supports@bookclub.ua
      </p>
    </div>
  </div>
</div>