// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header {
  background: url("https://images.wallpaperscraft.ru/image/paporotnik_list_rastenie_137021_1920x1080.jpg") center center no-repeat;
  color: #fff;
  text-align: center;
  background-size: cover;
  padding: 200px 20px 90px 20px;

}
header>h1{
  font-size: 3.7em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
}

header>h3 {
  font-size: 1.125em;
  margin-bottom: 50px;
  font-style: italic;
}

header>p {
  font-size: 0.75em;
}

.subscribe {
  background: rgba(0,0,0,0.65);
  display: table;
  padding: 10px 10px 10px 10px;
  margin: 0 auto 10px auto;
  border-radius: 5px;
}

/*/////////////////*/
.simle_product {
  display: block;
  height: 550px;
}

.card_body{
  padding-top: 120px;

}
.card_title{
  text-transform: uppercase;
  font-size: 40px;
}
.card_text{
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 50px;

}

.simple_other_images{
  height: 400px;
}

.other_images{
  height: 250px;
}

/*/////////////////*/
.background{
  background: linear-gradient(to bottom, white, #ecf9ee, white);
}

.products_cart{
  display: block;
  height: 450px;
  width: 220px;
  margin-left: 120px;
  margin-bottom: 40px;
}
.product_image_img{
  padding-top: 80px;
}

.products_image{
  padding-bottom: 20px;
}

.cart_price{
  padding-top: 30px;
}

.product_title:link {  color: #3e3e3e;}
.product_title:visited { text-decoration: none; color: #3e3e3e;}
.product_title:active { text-decoration: none; color: #3e3e3e;}
.product_title:hover { color: black; text-decoration: none;}




