// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


p {
  font-size: 14px;
}

strong{
  font-size: 25px;
}
.cart_price{
  margin-top: 30px;
}

.mb-5{
  text-align: center;
  margin-top: 30px;
}
.product_title:link {  color: #292929;}
.product_title:visited { text-decoration: none; color: #292929;}
.product_title:active { text-decoration: none; color: #292929;}
.product_title:hover { color: black; font-size: 22.5px; text-decoration: none;}