<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a><%= link_to "Shop GH", root_path, class:"navbar-brand mr-auto" %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a><%#= link_to 'Главная', posts_path, class:"a nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
     <!--   <%# if current_user %>
          <%# if current_user.baned == false  %>
            <a><%##= link_to 'Новый пост', new_post_path, class:"a nav-link" %></a>
          <%# end %>
        <%# end %>-->
      </li>
<!--      <%# if current_user %>
        <li class="nav-item">
          <a><%##= link_to 'Выйти', logout_path, class:"a nav-link" %></a>
        </li>
        <li class="nav-item">
                <span data-toggle="tooltip" data-placement="top" title="(<%#= current_user.full_name %>)">
                  <%#= link_to @author do %>
                    <%# if current_user.image.attached? %>
                      <!-- @post.image.present? will always return true, use attached? to check presence -->
                      <%#= image_tag(current_user.image, class: "icon__author") if current_user.image.attached? %>
                    <%# else %>
                      <%#= image_tag("https://us.123rf.com/450wm/denisnata/denisnata1210/denisnata121000848/15814297-white-domestic-goose-isolated-on-white-background.jpg?ver=6", class: "icon__author") %>
                    <%# end %>
                   <%# end %>
                 </span>
        </li>
      <%# else %>
        <li class="nav-item">
          <a><%#= link_to 'Зарегистрироваться', signup_path, class:"a nav-link"%></a>
        </li>
        <li class="nav-item">
          <a><%#= link_to 'Ввойти', login_path, class:"a nav-link" %></a>
        </li>
      <%# end %>
    </ul>
  </div>
</nav>